@import url("./reset.css");
@import url("./font.css");
@import url("./variables.css");

* {
  box-sizing: border-box;
  font-family: var(--mainSubFont) !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  padding: 31px;
  border-bottom: 1px solid var(--grayLight);
}

.logo_content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_content_title {
  font-weight: 700;
  font-size: 32px;
  font-family: var(--mainFont);
  color: var(--mainBlack);
}

.navbar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navbar_list__item a {
  font-size: 18px;
  font-weight: 600;
  /* line-height: 25px; */
  letter-spacing: -0.02em;
}

.navbar_list__item:not(:last-child) a {
  font-family: var(--mainFont) !important;
  color: var(--mainBlack);
}

.navbar_list__item:last-child a {
  color: var(--mainColor);
}

.btn-ham {
  display: none;
}

@media screen and (max-width: 968px) {
  .navbar {
    display: none;
  }

  .btn-ham {
    display: block;
  }
}

.about-heading-title {
  width: 608px;
  height: 160px;
  color: #303031;
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}

.about-title-little {
  width: 608px;
  height: 64px;

  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  letter-spacing: -0.02em;

  /* Gray */

  color: #66645E;
  margin-top: 24px;
}

.about-div {
  display: flex;

  margin: 31px;
  justify-content: center;
  align-items: center;
}

.main-section-div {
  padding-bottom: 200px;
}

.main-section-div a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 24px;

  width: 220px;
  height: 64px;
  margin-top: 24px;

  background: #71A894;
  border-radius: 8px;
}

.main-section-div img {
  width: 717px;
  height: 570px;
}

.feature-title-bold {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Black */

  color: #303031;

}

.feature-title {
  width: 895px;
  height: 52px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: -0.02em;
  margin-top: 24px;
  /* Black */
  color: #303031;

}

.workface {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 427px;
  height: 340px;


  /* White */

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.workface-heading {

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #303031;
}

.workface-title {
  width: 379px;
  height: 52px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: center;

  /* Black */

  color: #303031;
}

.cards-div {
  margin-top: 48px;
  flex-wrap: wrap;
  margin-left: 56px;
  display: flex;
  justify-content: space-around;
}

.bydesign {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 427px;
  height: 340px;


  /* White */

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.section-members-heading {
  /* Section Title */


  width: 644px;
  height: 128px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */


  /* Black */

  color: #303031;
}

.section-members-title {
  width: 644px;
  height: 78px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;
}

.member-info {

  box-sizing: border-box;

  width: 484px;
  height: 400px;


  /* White */

  background: #FFFFFF;
  /* Black */

  border: 4px solid #303031;
  border-radius: 16px;
}

.title-member {
  width: 133px;
  height: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;

}

.member-name {
  width: 200px;
  height: 26px;

  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;

}

.member-share {
  width: 89px;
  height: 26px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  letter-spacing: -0.02em;

  /* Gray */

  color: #66645E;

}

.member-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 38px;
  margin-top: 189px;
}

.section-members {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}

.member-image {

  float: left;
}

.jassir-info {
  box-sizing: border-box;

  width: 484px;
  height: 412px;
  margin-left: 80px;
  /* White */

  background: #FFFFFF;
  /* Black */

  border: 4px solid #303031;
  border-radius: 16px;
}

.jassir-card-title {
  /* Jassir Jonis */



  width: 126px;
  height: 32px;
  display: inline;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;

}

.jassir-card-title2 {
  width: 240px;
  height: 24px;


  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.02em;

  /* Gray */

  color: #66645E;

}

.jassir-card-title3 {
  width: 404px;
  height: 48px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: auto;
  /* Black */

  color: #303031;
}

.jassir-card2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jassir-info-title {
  margin-left: 40px;
  margin-top: 32px;
  display: flex;
}

.commit-shares {
  display: flex;
  gap: 152px;
  margin-top: 48px;
  margin-left: 40px;
}

.jassir-flex {
  display: flex;
}

.jassir-card-title,
.jassir-card-title2 {
  margin-left: 16px;
}

.jassir-card-title3 {
  margin-top: 24px;
}

.commit-shares-value {
  display: flex;
  gap: 100px;
  margin-top: 12px;
  margin-left: 40px;
}

.commit-value,
.shares-value {
  width: 114px;
  height: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;
}

.section-features {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}

.jassir-card {
  display: flex;
}

.anchor-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  position: absolute;
  width: 404px;
  height: 56px;
  left: 40px;
  top: 324px;

  /* Black */

  background: #303031;
  border-radius: 16px;
}

.mother-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.section-features-heading {
  width: 644px;
  height: 128px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */


  /* Black */

  color: #303031;
}

.section-features-title {

  width: 644px;
  height: 78px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031
}

.section-features-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 178px;
}

.section-features-div img {
  width: 80px;
  height: 80px;
}

.jassir-card {
  margin-top: 131px;
}

.button1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 404px;
  height: 56px;

  /* Black */

  background: #303031;
  border-radius: 16px;
}

.button1 a {
  width: 160px;
  height: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  /* White */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.button1 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.section-engage-div {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
}

.section-engage-div img {
  width: 80px;
  height: 80px;
}

.section-engage-heading {
  width: 644px;
  height: 128px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */


  /* Black */

  color: #303031;
}

.section-engage-title {

  width: 644px;
  height: 78px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;
}

.card-heading {
  /* Task */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  padding: 24px;
  flex-wrap: wrap;
  gap: 10px;
  width: 631px;
  height: 164px;


  /* White */

  background: #FFFFFF;
  /* Black */

  border: 4px solid #303031;
  border-radius: 16px;
}

.enterprise {
  width: 266px;
  height: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;

}

.enterprise-title {

  width: 404px;
  height: 48px;

  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;
}

.share-value-enterprise {
  width: 63px;
  height: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.02em;

  /* White */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;

  margin-left: 164px;
  width: 79px;
  height: 32px;

  /* Green */

  background: #71A894;
  border-radius: 40px;
}

.engane-esas {
  display: flex;
}

.member-info-card {
  box-sizing: border-box;

  width: 381px;
  height: 288px;


  /* Light Gold */

  background: #F3F0EA;
  /* Black */

  border: 4px solid #303031;
  border-radius: 16px;

}

.member-name-card {
  width: 127px;
  height: 32px;

  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;
}

.title-member-card {
  width: 127px;
  height: 32px;

  margin-left: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;

}

.member-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.member-info-card1 {
  display: flex;
}

.member-name-card {
  width: 111px;
  height: 24px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.member-info-card-center {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}


.member-info-card1 {
  align-items: center;
  margin-left: 40px;
}

.profile-widget {
  align-content: center;
  box-sizing: border-box;
  gap: 4px;
  width: 240px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* White */

  background: #FFFFFF;
  /* Green */

  border: 4px solid #71A894;
  border-radius: 16px;
}

.widget-image {
  width: 72px;
  height: 72px;
  margin-top: 24px;
}

.widget-name {
  width: 87px;
  height: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-top: 160x;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: -0.02em;

  /* Black */

  color: #303031
}

.widget-commits {

  width: 74px;
  height: 24px;

  margin-top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.02em;

  /* Black */

  color: #303031;

}

.widget-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 192px;
  height: 44px;

  /* Black */

  background: #303031;
  border-radius: 16px;
}

.widget-button a {
  width: 100px;
  height: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;

  /* White */

  color: #FFFFFF;
}

.member-flexer {
  display: flex;
  gap: 12px;
  margin-top: 13px;
}

.section-engage-div {
  margin-top: 242px;
}

.div-cards {
  margin-top: 141px;
  margin-left: 46px;
}

.helpus-head-title {
  width: 895px;
  height: 64px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Black */

  color: #303031;
}

.helpus-title {
  width: 895px;
  height: 52px;

  margin-top: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: center;
  letter-spacing: -0.02em;

  /* Black */

  color: #303031;
}
.helpus-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.helpus-card{
width: 427px;
height: 216px;


/* White */

background: #FFFFFF;
/* Card Shadow */

box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 16px;
}
.cards-helpus-button{
  display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;
gap: 10px;
justify-content: flex-start;
align-items: flex-start;
width: 68px;
height: 32px;


/* Green */

background: #71A894;
border-radius: 40px;
}

.helpus-card-title{
width: 379px;
height: 24px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

letter-spacing: -0.02em;

/* Black */

color: #303031;

}
.helpus-card-title1{
width: 379px;
height: 72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: -0.02em;

/* Black */

color: #303031;
}
.cards-helpus-button a{
  
width: 52px;
height: 24px;
display: inline;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.02em;

/* White */

color: #FFFFFF;


}
.helpus-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.may28{

width: 106px;
height: 24px;


font-family: 'Roboto';
font-style: italic;
font-weight: 100;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: right;
letter-spacing: -0.02em;

/* Black */

color: #303031;
}
.divflex{
  display: flex;
  justify-items: center;
  gap: 213px;
 justify-content: flex-start;
}
.helpus-card{
  display: flex;
  
}
.cards-helpus{
  display: flex;
  gap: 28px;
  justify-content: center;
  margin-top: 48px;

}
.helpus-heading{
  margin-top: 128px;
}
.viewmore{
  display: flex;
flex-direction: column;
align-items: center;
padding: 20px 24px;

width: 134px;
height: 64px;

margin-left: auto;
margin-right: auto;
margin-top: 64px;
/* Black */

background: #303031;
border-radius: 8px;
}
.viewmore a{
  
width: 90px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

text-align: center;

/* White */

color: #FFFFFF;

}
.divider{
  margin-top: 52px;
}
.info-son-header{
width: 644px;
height: 64px;


font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */


/* Black */

color: #303031;
}
.info-son-title{
width: 644px;
height: 52px;

margin-top: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* or 144% */

letter-spacing: -0.02em;

/* Black */

color: #303031;
}
.button-title{
  margin-top: 40px;
  display: flex;
flex-direction: row;
align-items: center;
padding: 20px 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


/* White */

color: #FFFFFF;

width: 220px;
height: 64px;


background: #71A894;
border-radius: 8px;
}


.info-son{
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}
.son-div{
  display: flex;
 justify-content: center;
}

.footer-ul{
  display: flex;
  gap: 40px;
  justify-content: center;
}
li:first-child{
  display: flex;
  justify-content: flex-start;
}
.footer{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  padding: 31px;
  border-bottom: 1px solid var(--grayLight);
}